.dashboard-container {
  width: 100%;
  height: 100vh;
}
.topnavbar-dashboard-container {
  width: 100%;
  height: 7rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.bottom-dashboard-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem);
}
.leftsidebar-dashboard-container {
  width: 8%;
  height: 100%;
  background-color: black;
}
.rightside-dashboard-container {
  width: calc(100% - 8%);
}
.head-content-dashboard {
  width: 100%;
  padding: 1rem 4rem;
  line-height: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.head-content-dashboard h1 {
  font-weight: 600;
}
.head-content-dashboard p {
  color: rgb(88, 88, 88);
}
.card-dashboard-container {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem 2rem;
}
